.container {
    padding: 16px;
  }
  
  .chart-container {
    background-color: #000;
    padding: 16px;
    border-radius: 16px;
    max-width: 100%;
  }
  
  .chart-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
  }